dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"
install:
  - pip install -r requirements.txt
script:
  - python -m unittest discover -t . -s test_htmlgen -p "*.py"
  - mypy htmlgen test_htmlgen
